    <h1>Pet Shelters</h1>
    <nav>
      <div id="nav-item">
        <%= link_to 'View all Pets', '/pets' %>
      </div>
      <div id="nav-item">
        <%= link_to 'View all Shelters', '/shelters' %>
      </div>
    </nav>
    <br>
    <h2><a href = "/shelters/new">New Shelter</a></h2><br>
    <br>

    <% @shelters.each do |shelter| %>
      <div id="left">
        <a href = '/shelters/<%=shelter[:id]%>'><%= shelter.name%></a>
      </div>
      <div id="edit-delete">
        <%= button_to name= "Edit Shelter", "/shelters/#{shelter.id}/edit", method: 'get' %>
        <%= button_to name= "Delete Shelter", "/shelters/#{shelter.id}", method: 'delete', data: {confirm: "Are you sure you want to delete #{shelter.name}?"}%>
      </div>
      <br><br>
    <% end %>