<h1>Welcome to <%= @shelter.name %>!</h1>
<nav>
  <div id="nav-item">
    <%= link_to 'View all Pets', '/pets' %>
  </div>
  <div id="nav-item">
    <%= link_to 'View all Shelters', '/shelters' %>
  </div>
</nav>
<br>
<div style ="font-weight: bold"><%= @shelter.name %></div><br>
<%= @shelter.address %><br>
<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
<br>
<br>
<%= button_to "View our pets for adoption!", "/shelters/#{@shelter.id}/pets", method: 'get'%><br>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: 'get'%><br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: 'delete', data: {confirm: "Are you sure you want to delete this shelter?"}%>

