<a href="/shelters">Return to list of shelters</a><br><br>

<div style ="font-weight: bold"><%= @shelter.name %></div><br>
<%= @shelter.address %><br>
<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>

