<h1><%= @shelter.name %> Pets</h1>
<nav>
  <div id="nav-item">
    <%= link_to "Return to #{@shelter.name}", "/shelters/#{@shelter.id}" %>
  </div>
  <div id="nav-item">
    <%= link_to 'View all Pets', '/pets' %>
  </div>
  <div id="nav-item">
    <%= link_to 'View all Shelters', '/shelters' %>
  </div>
</nav>
<br>

<h3><%= link_to "Add Pet to #{@shelter.name}","/shelters/#{@shelter.id}/pets/new"%></h3>

<h2>Pets available for adoption</h2>
<%@shelter.pets.each do |pet|%>
  <div class="pet-index-box">
    <div class="pet-index-img-box">
      <div class="pet-img">
        <img src=<%=pet.image%> style="width: 100%; height: 100%; object-fit: cover">
      </div>
    </div>
    <div class="pet-index-dtls-box">
      <ul>
        <li>Name: <%=pet.name%></li>
        <li>Age: <%=pet.age%></li>
        <li>Sex: <%=pet.sex%></li>
      </ul>
    </div>
    <div class="edit-delete-box">
      <%= button_to name= "View #{pet.name} Details", "/pets/#{pet.id}", method: 'get'%>
      <%= button_to name= "Update #{pet.name}", "/pets/#{pet.id}/edit", method: 'get'%>
      <%= button_to name= "Delete #{pet.name}", "/pets/#{pet.id}", method: 'delete', data: {confirm: "Are you sure you want to delete this pet?"}%>
    </div>
  </div>
  <br>

<%end %>