<h1>Pets!</h1>

<%@pets.each do |pet|%>
  <img src=<%=pet.image%> style="width:200px";><br>
  <h1>Name: <%=pet.name%></h1><br>
  <p>Age: <%=pet.age%>, Sex: <%=pet.sex%><br>
  Shelter: <%=pet.shelter.name%></p><br>
  <%= link_to name= "Update #{pet.name}", "/pets/#{pet.id}/edit"%><br><br>
  <%= link_to name= "Delete #{pet.name}", "/pets/#{pet.id}", method: 'delete', data: {confirm: "Are you sure you want to delete this pet?"}%><br><br>

<%end %>